# Ignore object files (.o)
*.o

# Ignore executable files
*.exe
*.out
evaluate_gemver
evaluate_gemver_mpi
evaluate_gemver_openmp
evaluate_trisolv
evaluate_trisolv_mpi
build_test_gemver_openmp
build_test_gemver_mpi
build_test_trisolv_openmp
build_test_trisolv_mpi


# Ignore Visual Studio Code workspace and user-specific files
.vscode/
.settings.json

# Ignore result files
results/
